<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand font-weight-bold text-white" href="/">{{ $.Site.Params.ClassNumber }}</a>
        <ul class="navbar-nav mr-auto">
          {{ if eq .Page.Kind "page"}}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Page.Parent.Permalink }}">{{ .Page.Parent.Title }}</a>          
          </li>
          <li class="nav-item">
            <span class="nav-link">&gt;</span>
          </li>
          {{ end }}
          {{ if in "section page" .Page.Kind  }}
          {{ if or (gt .Data.Pages 0) (gt .Page.CurrentSection.Pages 0) }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Explorations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ if eq .Page.Kind "section" }}
              {{ range .Data.Pages }}
              <a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
              {{ end }}

              {{ if eq .Page.Kind "page"}}
              {{ range .Page.CurrentSection.Pages }}
              <a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
              {{ end }}
            </div>
          </li>
          {{ end }}
          {{ end }}
        </ul>
        </form>
      </div>
    </nav>
  </div>